### Exploring Customer Segmentation


<center>
    <img src = images/segments.jpeg>
</center>


In this activity, you are tasked with profiling customer groups for a large telecommunications company.  The data provided contains information on customers purchasing and useage behavior with the telecom products.  Your goal is to use PCA and clustering to segment these customers into meaningful groups, and report back your findings.  

Because these results need to be interpretable, it is important to keep the number of clusters reasonable.  Think about how you might represent some of the non-numeric features so that they can be included in your segmentation models.  You are to report back your approach and findings to the class.  Be specific about what features were used and how you interpret the resulting clusters.

In [50]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.cluster import KMeans, DBSCAN

In [51]:
df = pd.read_csv('data/telco_churn_data.csv')

In [52]:
df.head()

,Customer ID,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,...,Latitude,Longitude,Population,Churn Value,CLTV,Churn Category,Churn Reason,Total Customer Svc Requests,Product/Service Issues Reported,Customer Satisfaction
0,8779-QRDMV,No,0,1,NaN,No,0.00,No,Yes,Fiber Optic,...,34.023810,-118.156582,68701,1,5433,Competitor,Competitor offered more data,5,0,NaN
1,7495-OOKFY,Yes,1,8,Offer E,Yes,48.85,Yes,Yes,Cable,...,34.044271,-118.185237,55668,1,5302,Competitor,Competitor made better offer,5,0,NaN
2,1658-BYGOY,No,0,18,Offer D,Yes,11.33,Yes,Yes,Fiber Optic,...,34.108833,-118.229715,47534,1,3179,Competitor,Competitor made better offer,1,0,NaN
3,4598-XLKNJ,Yes,1,25,Offer C,Yes,19.76,No,Yes,Fiber Optic,...,33.936291,-118.332639,27778,1,5337,Dissatisfaction,Limited range of services,1,1,2.0
4,4846-WHAFZ,Yes,1,37,Offer C,Yes,6.33,Yes,Yes,Cable,...,33.972119,-118.020188,26265,1,2793,Price,Extra data charges,1,0,2.0

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 46 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Referred a Friend                  7043 non-null   object
 2   Number of Referrals                7043 non-null   int64
 3   Tenure in Months                   7043 non-null   int64
 4   Offer                              3166 non-null   object
 5   Phone Service                      7043 non-null   object
 6   Avg Monthly Long Distance Charges  7043 non-null   float64
 7   Multiple Lines                     7043 non-null   object
 8   Internet Service                   7043 non-null   object
 9   Internet Type                      5517 non-null   object
 10  Avg Monthly GB Download            7043 non-null   int64
 11  Online Security                    7043 non-null   object
 12  Online Backup                      7043 non-null   object
 13  Device Protection Plan             7043 non-null   object
 14  Premium Tech Support               7043 non-null   object
 15  Streaming TV                       7043 non-null   object
 16  Streaming Movies                   7043 non-null   object
 17  Streaming Music                    7043 non-null   object
 18  Unlimited Data                     7043 non-null   object
 19  Contract                           7043 non-null   object
 20  Paperless Billing                  7043 non-null   object
 21  Payment Method                     7043 non-null   object
 22  Monthly Charge                     7043 non-null   float64
 23  Total Regular Charges              7043 non-null   float64
 24  Total Refunds                      7043 non-null   float64
 25  Total Extra Data Charges           7043 non-null   float64
 26  Total Long Distance Charges        7043 non-null   float64
 27  Gender                             7043 non-null   object
 28  Age                                7043 non-null   int64
 29  Under 30                           7043 non-null   object
 30  Senior Citizen                     7043 non-null   object
 31  Married                            7043 non-null   object
 32  Dependents                         7043 non-null   object
 33  Number of Dependents               7043 non-null   int64
 34  City                               7043 non-null   object
 35  Zip Code                           7043 non-null   int64
 36  Latitude                           7043 non-null   float64
 37  Longitude                          7043 non-null   float64
 38  Population                         7043 non-null   int64
 39  Churn Value                        7043 non-null   int64
 40  CLTV                               7043 non-null   int64
 41  Churn Category                     1869 non-null   object
 42  Churn Reason                       1869 non-null   object
 43  Total Customer Svc Requests        7043 non-null   int64
 44  Product/Service Issues Reported    7043 non-null   int64
 45  Customer Satisfaction              1834 non-null   float64
dtypes: float64(9), int64(11), object(26)
memory usage: 2.5+ MB

In [54]:
df.describe()

,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Regular Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Age,Number of Dependents,Zip Code,Latitude,Longitude,Population,Churn Value,CLTV,Total Customer Svc Requests,Product/Service Issues Reported,Customer Satisfaction
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,1834.000000
mean,1.951867,32.386767,22.958954,21.110890,65.538800,2280.381264,1.962182,278.499225,749.099262,46.509726,0.468692,93486.070567,36.197455,-119.756684,22139.603294,0.265370,4400.295755,1.338776,0.308107,3.005453
std,3.001199,24.542061,15.448113,20.948471,30.606805,2266.220462,7.902614,685.039625,846.660055,16.750352,0.962802,1856.767505,2.468929,2.154425,21152.392837,0.441561,1183.057152,1.430471,0.717514,1.256938
min,0.000000,1.000000,0.000000,0.000000,18.250000,18.800000,0.000000,0.000000,0.000000,19.000000,0.000000,90001.000000,32.555828,-124.301372,11.000000,0.000000,2003.000000,0.000000,0.000000,1.000000
25%,0.000000,9.000000,9.210000,3.000000,35.890000,400.150000,0.000000,0.000000,70.545000,32.000000,0.000000,92101.000000,33.990646,-121.788090,2344.000000,0.000000,3469.000000,0.000000,0.000000,2.000000
50%,0.000000,29.000000,22.890000,17.000000,71.968000,1394.550000,0.000000,0.000000,401.440000,46.000000,0.000000,93518.000000,36.205465,-119.595293,17554.000000,0.000000,4527.000000,1.000000,0.000000,3.000000
75%,3.000000,55.000000,36.395000,28.000000,90.650000,3786.600000,0.000000,182.620000,1191.100000,60.000000,0.000000,95329.000000,38.161321,-117.969795,36125.000000,1.000000,5380.500000,2.000000,0.000000,4.000000
max,11.000000,72.000000,49.990000,94.000000,123.084000,8684.800000,49.790000,6477.000000,3564.720000,80.000000,9.000000,96150.000000,41.962127,-114.192901,105285.000000,1.000000,6500.000000,9.000000,6.000000,5.000000

### Preparing and cleaning up data

In [55]:
#Identify and create a list of object columns : 
object_cols = df.select_dtypes(include=['object']).columns.tolist()
print(object_cols)

['Customer ID', 'Referred a Friend', 'Offer', 'Phone Service', 'Multiple Lines', 'Internet Service', 'Internet Type', 'Online Security', 'Online Backup', 'Device Protection Plan', 'Premium Tech Support', 'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing', 'Payment Method', 'Gender', 'Under 30', 'Senior Citizen', 'Married', 'Dependents', 'City', 'Churn Category', 'Churn Reason']

In [56]:
#Identify and create a list of non-object based columns in data:
numeric_cols = df.select_dtypes(exclude=['object']).columns.tolist()
print(numeric_cols)

['Number of Referrals', 'Tenure in Months', 'Avg Monthly Long Distance Charges', 'Avg Monthly GB Download', 'Monthly Charge', 'Total Regular Charges', 'Total Refunds', 'Total Extra Data Charges', 'Total Long Distance Charges', 'Age', 'Number of Dependents', 'Zip Code', 'Latitude', 'Longitude', 'Population', 'Churn Value', 'CLTV', 'Total Customer Svc Requests', 'Product/Service Issues Reported', 'Customer Satisfaction']

In [57]:
#Create a data frame excluding all object columns for first phase PCA analysis of numerical data
df_numeric = df.drop(object_cols, axis = 1)

#Spot check new df created with numerical data 
print(df_numeric.shape)
df_numeric.info()

(7043, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Number of Referrals                7043 non-null   int64
 1   Tenure in Months                   7043 non-null   int64
 2   Avg Monthly Long Distance Charges  7043 non-null   float64
 3   Avg Monthly GB Download            7043 non-null   int64
 4   Monthly Charge                     7043 non-null   float64
 5   Total Regular Charges              7043 non-null   float64
 6   Total Refunds                      7043 non-null   float64
 7   Total Extra Data Charges           7043 non-null   float64
 8   Total Long Distance Charges        7043 non-null   float64
 9   Age                                7043 non-null   int64
 10  Number of Dependents               7043 non-null   int64
 11  Zip Code                           7043 non-null   int64
 12  Latitude                           7043 non-null   float64
 13  Longitude                          7043 non-null   float64
 14  Population                         7043 non-null   int64
 15  Churn Value                        7043 non-null   int64
 16  CLTV                               7043 non-null   int64
 17  Total Customer Svc Requests        7043 non-null   int64
 18  Product/Service Issues Reported    7043 non-null   int64
 19  Customer Satisfaction              1834 non-null   float64
dtypes: float64(9), int64(11)
memory usage: 1.1 MB

In [58]:
# Identify % of data that has null values and consider dropping column or alternative method to clean given data:
#  - Customer Satisifaction has ~ 73% of data as null so drop this column 
df_numeric.isnull().mean()*100

Number of Referrals                   0.00000
Tenure in Months                      0.00000
Avg Monthly Long Distance Charges     0.00000
Avg Monthly GB Download               0.00000
Monthly Charge                        0.00000
Total Regular Charges                 0.00000
Total Refunds                         0.00000
Total Extra Data Charges              0.00000
Total Long Distance Charges           0.00000
Age                                   0.00000
Number of Dependents                  0.00000
Zip Code                              0.00000
Latitude                              0.00000
Longitude                             0.00000
Population                            0.00000
Churn Value                           0.00000
CLTV                                  0.00000
Total Customer Svc Requests           0.00000
Product/Service Issues Reported       0.00000
Customer Satisfaction                73.95996
dtype: float64

In [59]:
# Identify unique values to get a sense of the sample data and values
col_features = df_numeric.columns.values.tolist() 
for item in col_features: 
    #print(item)
    #Format printing as you would like for future arra list output as feature: array list 
    #print(data[item].unique())
    print('{0} \t {1} \n'.format(item, df_numeric[item].unique()))

Number of Referrals 	 [ 0  1  6  2  4  3  7  5  8  9 10 11]

Tenure in Months 	 [ 1  8 18 25 37 27 58 15  7 11  3 13 16 24  4 32 54  2 21 55  5 20 65 49
 43 56 52 33 30 46  9 10 35 44 62 14 12 17 39 68 34 22 19 23 42 41 57 38
 29 66 69 40 31 59 36 45 53 70 47 50 51 72 26  6 28 48 61 71 60 64 67 63]

Avg Monthly Long Distance Charges 	 [ 0.   48.85 11.33 ... 44.99 44.98  8.62]

Avg Monthly GB Download 	 [ 9 19 57 13 15 20 33 26 21 32 31 12 10  8 16  2 11  6 14  0 30 29 24 28
 23 22  7 18 25  4  3  5 27 58 17 53 75 56 52 76 64 45 63 62 78 80 84 65
 90 46 43 94 51 48 73 69 71 42 41 59 47 82 85]

Monthly Charge 	 [41.236 83.876 99.268 ... 72.    65.45  78.7  ]

Total Regular Charges 	 [  39.65  633.3  1752.55 ... 7362.9   346.45 6844.5 ]

Total Refunds 	 [ 0.   45.61 13.43 40.95 11.05 29.84 49.57 12.07 40.64 10.2  17.88 37.55
 48.09 32.46 20.23 12.59 43.31  8.13 46.64 23.33 47.2  33.25 33.73 49.06
 25.79 15.24 26.99 44.58 20.16  8.88 12.48  6.79 39.29 44.31  5.49 25.67
  9.49 29.17 19.25 45.69 29.88 39.93 26.98 11.83 16.58 17.16 18.85 37.64
 41.2  12.19 45.81 49.53 21.52 29.   29.99 21.08 36.4  21.17  6.26 17.91
 34.67 28.93 41.23 47.73 40.46 15.41 38.98 16.73 27.15 45.82 39.18 31.05
 20.45  6.65 47.04 15.2   1.69 43.66 24.36 27.89  6.11  7.43 25.07 48.66
 36.52 38.09 24.98 21.71 36.78 30.75 25.55 17.19 33.1  32.71  4.76 44.81
  3.33 19.16 31.58  1.09 18.64 44.17 17.76 33.07  8.74  4.48 36.6  33.43
 45.44 18.55 33.21 48.25 21.72 21.69 14.22 45.37 27.6  10.17 36.44 13.03
 23.89 11.   34.29 48.26 35.82 15.73  9.36 19.67 39.27 41.85 40.   12.81
  4.73 27.38 14.24 13.01 11.45 28.35  7.39 35.05 41.18 30.46 48.61 26.02
 38.48 14.23 40.15 48.95 24.44  9.68 23.72 20.29 48.54  4.96 18.21  1.27
 22.96 28.49 19.5   8.35 35.7  17.01 34.69  4.93 35.34 18.39 27.3  44.16
 34.09 36.61 18.72 44.63 23.97 38.42  1.48  2.93 10.76 20.28 42.18 40.79
 41.21  2.29 24.08 36.29 30.26  4.6  41.67 15.62 46.78 14.49 25.84 16.97
 23.67 46.56 27.09 10.23 15.57 26.55  3.2  21.6  17.14  5.73 32.09  1.83
 47.19 14.21 38.15  8.3  31.39 12.55 11.48 43.38 49.37  9.34 38.61 37.06
 43.25 23.28 45.07 44.9  23.61 19.89 38.84  1.01 14.67 37.37 21.32 36.04
 49.51 47.91 11.72 29.76  1.99 40.62 18.84  9.22 33.8   9.73 46.07 47.87
 39.99 14.76  2.24 42.89 16.12 38.37 47.36 33.76 12.8  23.01 12.16 45.75
 28.42 37.03 38.46 46.66 35.61 18.89  1.66 17.6  21.35 29.32 23.92 29.5
 16.86 42.64  1.31 10.57 34.44 13.07 22.34 43.95 37.44 25.57 14.93 46.75
 28.7   2.28 47.02 16.85 29.11 32.55  5.44 27.79 43.68 41.74  2.18  3.26
 26.87 10.47 37.45 34.16 17.5  11.37 46.81 15.02 19.63 45.47 39.92 22.55
  3.34 17.05 38.33 47.79 24.92 40.54  5.55 30.22  5.47 44.   28.98 49.38
 37.68 18.17 36.38 26.83 29.21 18.88 33.67 17.3  17.03  3.55 25.62 18.62
  9.39  5.9   5.01 42.57 42.43  4.7  21.53 21.58 35.28 28.83 38.57 29.41
 10.65 42.29 16.38 36.66 39.45 29.64 26.32 11.85 16.26 20.17 32.59 16.36
 22.53  6.72 36.22 38.34 28.08 17.96 33.29 24.9  15.38  5.15  6.41 41.66
 46.06 33.13 12.66 48.79  3.59 44.86 34.83 49.79 44.53 47.45 13.37  2.81
 44.13 23.13  2.76 46.99 23.16 44.42 48.59 11.8  17.17 15.76  2.97 15.31
 45.54 14.15 32.53 22.97 21.25 36.02 39.68 23.39 20.87 26.7   3.85  3.51
 35.23  9.48 36.13 44.51  4.08 34.45 16.96 16.91 43.12 49.76 23.5  29.95
  9.99 33.24 28.63 10.7  36.92 27.01 42.34 34.47  9.79 26.37  8.96 21.9
  4.25 16.56 10.28 46.67 14.78 49.23 35.01  9.35 37.04 49.24 32.65 39.15
 18.78 14.57 49.22 16.27  5.83 35.44 29.29 47.59 46.39 24.07  8.5  23.47
 29.59 28.09  6.49 34.59 47.55 37.01 43.76 25.98 12.26 37.49 19.13  1.65
 31.9  21.81 15.17 14.3  22.72  8.53 46.26 15.43 25.49 17.33 45.6  25.24
  2.62 36.07 29.93 23.79 22.4  16.89  7.3  16.99 41.33 30.45 30.14 24.99
 30.53 32.24  4.68  4.18  2.21 19.32 25.92 45.46 25.42 43.96 38.65 49.02
 19.12 20.19 26.84 40.41 19.31 48.23 45.38 27.24]

Total Extra Data Charges 	 [   0.    120.    327.   ...  229.29   17.84 4344.  ]

Total Long Distance Charges 	 [   0.    390.8   203.94 ...  865.2  2135.52 2043.36]

Age 	 [78 74 71 80 72 76 66 70 77 65 67 68 69 79 75 73 37 19 31 23 38 21 29 61
 27 20 56 51 48 32 34 41 30 26 62 64 45 53 63 42 24 54 39 43 50 22 40 47
 60 52 55 59 49 58 25 28 33 44 57 46 36 35]

Number of Dependents 	 [0 1 3 2 5 4 6 7 8 9]

Zip Code 	 [90022 90063 90065 ... 91934 92105 92250]

Latitude 	 [34.02381  34.044271 34.108833 ... 32.649787 32.741859 32.811001]

Longitude 	 [-118.156582 -118.185237 -118.229715 ... -116.2237   -117.090353
 -115.152865]

Population 	 [68701 55668 47534 ...   116 73006  8062]

Churn Value 	 [1 0]

CLTV 	 [5433 5302 3179 ... 2770 4645 5553]

Total Customer Svc Requests 	 [5 1 0 7 2 3 4 6 8 9]

Product/Service Issues Reported 	 [0 1 2 3 4 5 6]

Customer Satisfaction 	 [nan  2.  1.  3.  5.  4.]

In [60]:
#Take a look at object data for unique values as well 
for item in object_cols: 
    #print(item)
    #Format printing as you would like for future arra list output as feature: array list 
    #print(data[item].unique())
    print('{0} \t {1} \n'.format(item, df[item].unique()))

Customer ID 	 ['8779-QRDMV' '7495-OOKFY' '1658-BYGOY' ... '2234-XADUH' '4801-JZAZL'
 '3186-AJIEK']

Referred a Friend 	 ['No' 'Yes']

Offer 	 [nan 'Offer E' 'Offer D' 'Offer C' 'Offer B' 'Offer A']

Phone Service 	 ['No' 'Yes']

Multiple Lines 	 ['No' 'Yes']

Internet Service 	 ['Yes' 'No']

Internet Type 	 ['Fiber Optic' 'Cable' 'DSL' nan]

Online Security 	 ['No' 'Yes']

Online Backup 	 ['No' 'Yes']

Device Protection Plan 	 ['Yes' 'No']

Premium Tech Support 	 ['No' 'Yes']

Streaming TV 	 ['No' 'Yes']

Streaming Movies 	 ['Yes' 'No']

Streaming Music 	 ['No' 'Yes']

Unlimited Data 	 ['No' 'Yes']

Contract 	 ['Month-to-Month' 'One Year' 'Two Year']

Paperless Billing 	 ['Yes' 'No']

Payment Method 	 ['Bank Withdrawal' 'Credit Card' 'Mailed Check']

Gender 	 ['Male' 'Female']

Under 30 	 ['No' 'Yes']

Senior Citizen 	 ['Yes' 'No']

Married 	 ['No' 'Yes']

Dependents 	 ['No' 'Yes']

City 	 ['Los Angeles' 'Inglewood' 'Whittier' ... 'Topaz' 'Jacumba' 'Holtville']

Churn Category 	 ['Competitor' 'Dissatisfaction' 'Price' 'Other' 'Attitude' nan]

Churn Reason 	 ['Competitor offered more data' 'Competitor made better offer'
 'Limited range of services' 'Extra data charges'
 'Competitor had better devices' "Don't know" 'Service dissatisfaction'
 'Lack of affordable download/upload speed' 'Product dissatisfaction'
 'Long distance charges' 'Poor expertise of online support'
 'Attitude of support person' 'Network reliability'
 'Competitor offered higher download speeds' 'Moved' 'Price too high'
 'Attitude of service provider' 'Poor expertise of phone support'
 'Deceased' nan 'Lack of self-service on Website']

#### Drop Columns from Numeric df 

Drop the following columns: 
- customer_id as this is simply the unique identifier and we don't require this for to execute PCA on data set
- customer_satisifactoin column as it has high % rate of NA - likely due to it not being a required filed for data entry 
- Zip Code, Latitude, Longitude are numerical values that are in essence Qualitative values or categorical values - drop them as well for PCA first pass attempt

In [61]:
object_cols = df.select_dtypes('object').columns.tolist() + ['Customer Satisfaction', 'Zip Code', 'Latitude', 'Longitude']
df_clean = df.drop(object_cols, axis = 1)

df_clean_nona = df_clean.dropna()

#Check resulting df
df_clean_nona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Number of Referrals                7043 non-null   int64
 1   Tenure in Months                   7043 non-null   int64
 2   Avg Monthly Long Distance Charges  7043 non-null   float64
 3   Avg Monthly GB Download            7043 non-null   int64
 4   Monthly Charge                     7043 non-null   float64
 5   Total Regular Charges              7043 non-null   float64
 6   Total Refunds                      7043 non-null   float64
 7   Total Extra Data Charges           7043 non-null   float64
 8   Total Long Distance Charges        7043 non-null   float64
 9   Age                                7043 non-null   int64
 10  Number of Dependents               7043 non-null   int64
 11  Population                         7043 non-null   int64
 12  Churn Value                        7043 non-null   int64
 13  CLTV                               7043 non-null   int64
 14  Total Customer Svc Requests        7043 non-null   int64
 15  Product/Service Issues Reported    7043 non-null   int64
dtypes: float64(6), int64(10)
memory usage: 880.5 KB